
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

@using (Html.BeginForm("Create", "Item", FormMethod.Post, new { id = "createForm" }))
{
    <div class="form-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" id="drawbtnclick" data-target="#signatureModal">
            Draw Signature
        </button>
    </div>

    <!-- Signature Modal -->
    <div class="modal fade" id="signatureModal" tabindex="-1" role="dialog" aria-labelledby="signatureModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signatureModalLabel">Draw Signature</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="modalTabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="signatureTab" data-toggle="tab" href="#signatureContent">Signature</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="textTab" data-toggle="tab" href="#textContent">Text</a>
                        </li>
                    </ul>

                    <canvas id="signatureCanvas" width="300" height="150" style="border:1px solid #000;"></canvas>
                    <input type="text" class="form-control" id="additionalTextBox" name="AdditionalTextBox1" />

                    <button type="button" class="btn btn-primary" onclick="submitFormWithSignature('createForm')">Submit</button>
                    <button type="button" class="btn btn-primary" onclick="clearSignature()">Clear Signature</button>
                </div>
            </div>
        </div>
    </div>
}


<script>
    function getCurrentTab() {
        return $('#modalTabs .nav-link.active').attr('id');
    }


    $('#signatureModal').on('show.bs.modal', function () {
        var canvas = document.getElementById("signatureCanvas");
        var context = canvas.getContext("2d");

        canvas.addEventListener("mousemove", function (e) {
            if (isDrawing) {
                context.lineTo(e.clientX - canvas.getBoundingClientRect().left, e.clientY - canvas.getBoundingClientRect().top);
                context.stroke();
            }
        });

        canvas.addEventListener("mousedown", function (e) {
            isDrawing = true;
            context.beginPath();
            context.moveTo(e.clientX - canvas.getBoundingClientRect().left, e.clientY - canvas.getBoundingClientRect().top);
        });

        canvas.addEventListener("mouseup", function () {
            isDrawing = false;
        });

        canvas.addEventListener("mouseout", function () {
            isDrawing = false;
        });



        function draw(e) {
            context.lineWidth = 2;
            context.lineCap = "round";
            context.strokeStyle = "#000";

            context.lineTo(e.clientX - canvas.getBoundingClientRect().left, e.clientY - canvas.getBoundingClientRect().top);
            context.stroke();
            context.beginPath();
            context.moveTo(e.clientX - canvas.getBoundingClientRect().left, e.clientY - canvas.getBoundingClientRect().top);
        }
    });

    function clearSignature() {
        var canvas = document.getElementById("signatureCanvas");
        var context = canvas.getContext("2d");
        context.clearRect(0, 0, canvas.width, canvas.height);
    }


    $(document).ready(function () {
        // Activate Bootstrap tabs
        $('#modalTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');

            // Toggle content based on the active tab
            toggleContentByTab();
        });

        function toggleContentByTab() {
            var activeTab = getCurrentTab();

            if (activeTab === "signatureTab") {
                // Show the signature canvas and hide the textbox
                $('#signatureCanvas').show();
                $('#additionalTextBox').hide();

                // Clear the textbox content when switching to the signature tab
                $('#additionalTextBox').val('');
            } else if (activeTab === "textTab") {
                // Hide the signature canvas and show the textbox
                $('#signatureCanvas').hide();
                $('#additionalTextBox').show();

                // Clear the signature canvas when switching to the text tab
                clearSignature();
            }
        }


    });
</script>

<script>
    var drawbuttonclicks = document.getElementById('drawbtnclick');
    if(drawbuttonclicks != null)
    {
        $('#signatureCanvas').show();
        $('#additionalTextBox').hide();
    }
</script>

<script>
    function submitFormWithSignature() {
        var activeTab = getCurrentTab();
        var canvas = document.getElementById("signatureCanvas");

            if (!isCanvasBlank(canvas)) {
            var imageData = canvas.toDataURL("image/png");
            var additionalText = null // Get the value of the additional textbox
            }

        if (isCanvasBlank(canvas)) {
            var imageData = null;
            var additionalText = $('#additionalTextBox').val(); // Get the value of the additional textbox
            }
            
            
            // Use a flag to determine whether to submit the form
        var submitForm = false;

        if (activeTab === "signatureTab") {
            // Check if the signature is not empty
            if (imageData.trim() !== "") {
                submitForm = true;
            }
        } if (activeTab === "textTab") {
            // Check if the text is not empty
            if (additionalText.trim() !== "") {
                submitForm = true;
            }
        }


        // Submit the form only if the flag is true
        if (submitForm) {
            $.ajax({
                url: '/Item/Create',
                type: 'POST',
                data: {
                    Signature: imageData,
                    AdditionalText: additionalText
                },
                success: function (result) {
                    // Handle the success result if needed
                    console.log(result.message);
                    // Close the modal if data is successfully saved
                    $('#signatureModal').modal('hide');
                },
                error: function (error) {
                    // Handle the error if needed
                    console.error("Error saving data:", error);
                }
            });
        }
    }

    // Function to check if the canvas is blank
    function isCanvasBlank(canvas) {
        var context = canvas.getContext("2d");
        var pixelBuffer = new Uint32Array(context.getImageData(0, 0, canvas.width, canvas.height).data.buffer);

        return !pixelBuffer.some(color => color !== 0);
    }
</script>



